body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#tab-tops{
    position: fixed;
    top: 0px;background: rgba(255,255,255,.8);
    left: 0;
    z-index: 500;
    width: 100%;
    height: 40px;
    background-color: rgb(2, 188, 245);
    width: 100%;
    padding: 0px;
}

#main{
    margin-top: 120px;
    background-image: url(mallpics/entertainment-area.jpg);
    background-repeat: repeat-y;
}
#content{
        padding-top: 1px;
        padding-bottom: 50px;

}
#main-home{
    margin-top: 25px;
    padding-top: 20px;
    align-items: center;

}
a.info-box {
    text-decoration: none;
    background: rgba(253, 253, 251, 0.911);
    width: 90%;
    height: 135px;
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 2px;

}

.info-box img{
    height: 70px;
    margin: 10px;
    float: left;
}

 .info-box img.right{
    float: right;
    margin-top: 40px;
    height: 40px;
}

 h3{
    text-align: center;
    color: #f7f8f8;
}
#tab-tops a{
    float: left;
    display: block;
    width: 33%;
    height: 35px;
    font-weight: 700;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-top: 12px;
}


#tabs-bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 40px;
    background-color: rgb(2, 188, 245);
}

#tabs-bottom a{
    float: left;
    display: block;
    width: 33%;
    height: 35px;
    font-weight: 700;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-top: 12px;
}

#info-box-full2{
    background-color: rgba(255,255,255,.8);
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 12px;
    padding: 10px;
    text-align: center;
}
#info-box-full2 img{
    width: 30%;
    
}

#logo img{
    margin-right: 600px;
    margin-left: 600px;

}







